body {
  background-color: #f8f9fa;
  background-image: url('https://drive.google.com/file/d/1hl82mCg75cz6cFQbOX6fNY5HrbQQ0pzZ/view?usp=drive_link'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: #007bff;
}

h2 {
  color: #17a2b8;
}

h3 {
  color: #28a745;
}

h4 {
  color: #6c757d;
}

p {
  color: #343a40;
  font-size: 18px;
}
